@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Configurações iniciais */

:root {
    --cor-principal: hsl(6, 100%, 60%);

    --fundo-claro: hsl(268, 67%, 13%);
    --fundo: hsl(268, 67%, 10%);
    --fundo-escuro: hsl(268, 67%, 7%);

    --texto-destaque: hsl(0, 0%, 95%);
    --texto: hsl(0, 0%, 70%);

    --gradiente-logo: linear-gradient(-45deg,
            hsl(6, 100%, 20%),
            hsl(6, 100%, 60%) 30%);
    --gradiente-mini-site: linear-gradient(-45deg,
            hsl(6, 100%, 20%),
            hsl(6, 100%, 60%));
    --gradient-mini-cards: linear-gradient(180deg,
            hsl(0, 0%, 90%),
            hsl(0, 0%, 70%));
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    min-height: 100vh;

    color: var(--texto);

    background: var(--fundo-escuro) url("../images/background.png") fixed;
    backdrop-filter: blur(10px);

    font-family: "Open Sans", sans-serif;

    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.desfoque {
    filter: brightness(0.5);
}

/* Cabeçalho */

header {
    padding: 15px 20px;

    border-bottom: 2px solid var(--fundo-claro);
    background-color: var(--fundo);

    position: sticky;
    top: 0;
    z-index: 9999;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    color: var(--texto-destaque);

    font-size: 2.25em;
    font-weight: bold;
}

#logo span {
    color: transparent;

    background: var(--gradiente-logo) text;
}

#navbar ul {
    list-style-type: none;

    display: flex;
    gap: 10px;
}

#navbar a {
    padding: 15px 10px;

    color: var(--texto-destaque);
    text-decoration: none;

    display: block;

    transition: color 0.1s ease;
}

#navbar a:hover {
    color: var(--cor-principal);
}

#btn-mobile {
    color: var(--texto-destaque);
    font-size: 2em;

    background: transparent;

    border: 0;

    display: none;
}

#btn-mobile:hover {
    cursor: pointer;
}

/* Área principal */

main {
    width: min(95%, 1200px);

    margin: 0 auto;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;

    align-self: center;

    transition: filter 0.2s linear;
}

section {
    padding: 20px;

    border-radius: 12px;

    background-color: var(--fundo);

    box-sizing: border-box;
}

section:not(#hero) h2 {
    padding-top: 20px;
    padding-bottom: 40px;

    color: var(--text);

    text-align: center;
    font-size: 2rem;
}

/* Seção hero */

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

#hero .text-container {
    max-width: 500px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

#short-desc {
    padding: 5px 10px;

    border-radius: 8px;

    color: black;
    background-color: white;

    margin-bottom: -10px;
}

#hero h2 {
    color: var(--text);

    font-size: 2.5rem;
}

/* Mini-site */

.mini-site {
    width: min(50%, 550px);
    height: 400px;
    padding: 20px;

    border-radius: 12px;

    background: var(--gradiente-mini-site);

    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 30px 1fr 1fr;
    grid-template-areas:
        "m-header m-header m-header"
        "m-card1 m-card2 m-card2"
        "m-card3 m-card3 m-card3";
    gap: 20px;
}

.mini-site div {
    border-radius: 12px;

    background: var(--gradient-mini-cards);
}

/* Seção serviços */

#servicos-container {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.servico {
    padding: 50px 10px;

    border: 1.5px solid var(--cor-principal);
    border-radius: 12px;

    background-color: var(--fundo-claro);

    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    row-gap: 30px;

    flex: 1;

    transition: background-color 0.1s ease;
}

.servico:hover {
    background-color: var(--cor-principal);
}

.servico svg {
    color: var(--cor-principal);

    width: 100px;
    height: auto;

    align-self: end;

    transition: color 0.1s ease;
}

.servico:hover svg {
    color: var(--fundo-claro);
}

.servico span {
    color: var(--text);

    text-align: center;
    font-size: 1.5rem;
}




/* Seção time */

#time-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    gap: 50px;
}

.membro {
    text-align: center;

    display: flex;
    flex-direction: column;
}

.membro img {
    width: 200px;

    border: 2px solid var(--cor-principal);
    border-radius: 50%;

    aspect-ratio: 1 / 1;
    object-position: middle;
    object-fit: cover;
}

.nome-membro {
    margin-top: 20px;

    color: var(--cor-principal);

    font-size: 1.75rem;
    font-weight: bold;
}

/* Media Queries */

@media (max-width: 768px) {
    #btn-mobile {
        display: inline-block;
    }

    #navbar {
        width: 75%;
        height: calc(100vh - 100%);

        padding-left: 20px;

        background-color: var(--fundo-claro);

        position: absolute;
        top: 100%;
        right: 0;

        opacity: 0;
        pointer-events: none;

        transition: opacity 0.2s linear;
    }

    #navbar.active {
        opacity: 1;
        pointer-events: auto;
    }

    #menu {
        flex-direction: column;
    }
}